*{
    padding: 0;
    margin: 0;
}

header{
    padding: 6px 0;
    background: hsl(0,0%,17%);
    border-bottom: 2px solid hsl(53, 100%, 54%);
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
header h1{
    text-align: center;
    font-family: Inter;
    color: white;
}
header img{
    float: right;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 5%;
    width: 90px;
}

@media screen and (max-width: 600px){
    header img{
        display: none;
    }
}