/*Background Colors*/
.bg-main-1{
    background-color: white;
}
.bg-main-2{
    background-color: hsl(0, 0%, 80%);
}
.bg-sub{
    background-color: hsl(0,0%,17%);
}
.bg-highlight{
    background-color: hsl(53, 100%, 54%);
}
.bg-green{
    background-color: hsl(142, 70%, 49%);
}
.bg-blue{
    background-color: rgb(140, 140, 237);
}

/*Border Colors*/
.bd-sub{
    border-color: hsl(0,0%,17%);
}
.bd-highlight{
    border-color: hsl(53, 100%, 54%);
}

/*Font Colors*/
.font-sub{
    color: white;
}
.font-sub-2{
    color: hsl(0, 0%, 30%);
}
.font-highlight{
    color: hsl(0,0%,17%);
}

/*Shadow*/
.sd-extra{
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.sd-medium{
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.sd-small{
    box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}

/*Text Shadow*/
.tsd-extra{
    text-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.tsd-medium{
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.tsd-small{
    text-shadow: 0 2px 5px rgba(0,0,0,0.8);
}