.card{
    padding: 50px;
    border-radius: 20px;
    width: fit-content;
}

.display-flex{
    display: flex;
}
.flex-horizontal{
    display: flex;
}
.flex-vertical{
    display: flex;
    flex-direction: column;
}

.full-width{
    float: left;
    width: 100%;
}
.halved{
    float: left;
    width: 50%;
}

.two-third{
    float: left;
    width: 66.66%;
}
.one-third{
    float: left;
    width: 33.33%;
}

.float-left{
    float: left;
}

.on-for-phone{
    display: none;
}
@media screen and (max-width: 850px){
    .halved{
        width: 100%;
    }
    .card{
        padding: 50px 30px 30px;
    }

    .two-third{
        width: 100%;
    }
    .one-third{
        width: 100%;
    }

    .flex-horizontal{
        flex-direction: column;
    }
    .phone-halved{
        float: left;
        width: 50%;
    }
    .phone-full-width{
        width: 100%;
    }
    .off-for-phone{
        display: none;
    }
    .on-for-phone{
        display: block;
    }
}