/* POST OPENING TITLE */
.post-opening-title{
    content: "";
    box-sizing: border-box;
    padding: 10% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.post-opening-title div{
    width: 250px;
    position: relative;
    align-items: center;
    background-color: hsla(0,0%,0%,0.7);
    padding: 50px 0;
    border-radius: 20px;
    margin: auto;
}
.post-opening-title h1{
    width: fit-content;
    margin: auto;
}
.post-opening-title img{
    width: 70%;
    margin: auto;
}

/* LIST FASILITAS */
.list-fasilitas-positioner{
    margin-top: 100px;
}
.list-fasilitas-title{
    margin: 300px auto 0;
    width: fit-content;
    text-align: center;
}
.list-fasilitas{
    margin: 0 10%;
    flex-wrap: wrap;
}
.list-fasilitas > div{
    box-sizing: border-box;
    padding: 10px;
}
.list-fasilitas > div > div{
    position: relative;
    text-align: center;
    height: 370px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.list-fasilitas div div div{
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
    margin: auto;
    padding-bottom: 30px;
    align-items: center;
}
.list-fasilitas h1, .list-fasilitas p{
    box-sizing: border-box;
    display: inline-block;
    max-width: 80%;
    margin-top: 5px;
    background: hsla(0,0%,0%,0.8);
    padding: 8px 25px;
    letter-spacing: -0.7px;
}

/* JARAK MENUJU FASILITAS */
.jarak-positioner{
    margin: 0 25px;
    margin-top: 75px;
    flex-direction: column;
}
.display-flex{
    justify-content: center;
}
.icon-group{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.icon-wrapper{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 30px;
}
.icon-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 165px;
    border: 10px solid;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
}
.icon-container > h1{
    width: fit-content;
    margin: 10px auto 0;
    letter-spacing: -0.5px;
}
.icon-text{
    margin-top: 10px;
}


/* DETAIL TIPE PRODUK */
.detail-positioner{
    align-items: center;
}
.detail-positioner h1{
    margin-top: 250px;
}
.detail-positioner > div > img{
    border-radius: 10px;
}
.detail-produk{
    flex-wrap: wrap;
}
.detail-produk img{
    box-sizing: border-box;
    padding: 3px;
    border-radius: 10px;
}
.detail-positioner h1, .detail-positioner p{
    text-align: center;
    margin-bottom: 20px;
}
.detail-desc{
    margin: 0px 5px;
}
.detail-desc h1, .detail-desc p{
    height: 40px;
    margin: 5px;
}
.top-down-map-container{
    align-items: center;
}

/* SPESIFIKASI PRODUK */
.spesifikasi-produk-positioner{
    max-width: 1000px;
    margin: 250px auto;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.spesifikasi-produk-positioner > h1{
    text-align: center;
    margin-bottom: 50px;
}
.spesifikasi-produk-positioner div{
    box-sizing: border-box;
    padding: 0 30px;
}
.spesifikasi-produk-positioner div caption, .spesifikasi-produk-positioner > div h1{
    font-weight: bolder;
    letter-spacing: -0.5px;
    text-align: left;
}
.spesifikasi-produk-positioner div table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}
.spesifikasi-produk-positioner div td{
    width: 50%;
    font-size: small;
    border-bottom: 1px solid hsl(0,0%,80%);
}
.spesifikasi-produk-positioner div td:last-child{
    font-style: italic;
}
.spesifikasi-produk-positioner div tr:hover{
    background-color: hsla(0,0%,0%,0.1);
}

#contact-info{
    margin: 0 auto 150px;
}

.normal-list li{
    margin-bottom: 5px;
    padding-left: 20px;
}

@media screen and (max-width: 850px){
    .jarak-positioner{
        margin-top: 50px;
        flex-direction: row;
    }
    .icon-group{
        margin: 0 0px;
    }
    .icon-wrapper{
        margin: 20px 0;
    }
    .icon-container{
        width: 150px;
        height: 150px;
    }
}